<%- include('../partials/header') %>
<form action="/watchlist" method="POST" autocomplete="off">
    <input type="text" name="watchlist">
    <button type="submit">Save Movie</button>
</form>
<%- include('../partials/footer') %>